.project-section-container {
  color: white;
  height: 1000px;
  background-color: #273038;
}

.projects-header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2e3842;
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 230px;
}

.coming-soon {
  font-size: 128px;
  transform: rotate(-15deg);
  box-shadow: 10px 10px 10px black;
  border: 2px solid black;
  padding: 5px;
  z-index: 5;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 250px;
  margin: 40px;
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
  padding: 40px;
  filter: blur(5px);
}

.project-image {
  width: 40%;
  height: 100%;
}

.project-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 80px;
}

.project-description {
  text-align: left;
  padding-bottom: 20px;
}

.project-button-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
