.project-section-container {
  color: white;
  height: 600px;
  background-color: #273038;
}

.projects-header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2e3842;
}
