.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  width: 98%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header span {
  padding-right: 15px;
  letter-spacing: 0.225em;
  font-size: 0.95em;
}

.menu-icon {
  z-index: 5;
  position: fixed;
  color: white;
  top: 20px;
}

.menu-icon-container {
  cursor: pointer;
  padding: 10px;

  animation-name: fadein;
  animation-duration: 3.5s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.menu {
  height: 100vh;
  width: 25%;
  z-index: 10;
  position: fixed;
  background-color: rgba(33, 178, 166, 1);
  right: -25%;
  color: white;
}

.menu.inactive {
  animation-name: menuslideout;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.menu.active {
  right: 0;
  animation-name: menuslidein;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.menu-close-icon {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.menu-item-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.menu-item {
  width: 85%;
  height: 60px;
  list-style: none;
  border-bottom: 2px solid rgba(250, 250, 250, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}

.landing-page-img {
  width: 100%;
  height: 100vh;
  z-index: 1;
  animation-name: fadein;
  animation-duration: 3.5s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/landing_page.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-page-text {
  z-index: 5;
  position: absolute;
}

.line {
  animation-name: lineslide;
  animation-duration: 1.25s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

.name {
  line-height: 60%;
  font-size: 1.5em;
  letter-spacing: 0.225em;

  animation-name: namefade;
  animation-duration: 0.75s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.occupation {
  padding-top: 20px;
  font-size: 0.75em;
  letter-spacing: 0.225em;
  
  animation-name: fadein;
  animation-duration: 3.5s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

@keyframes lineslide {
  from {
    opacity: 0%;
    width: 0;
  }
  60% {
    opacity: 0%;
    width: 0;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
}

@keyframes menuslideout {
  from {
    right: 0%;
  }
  to {
    right: -25%;
  }
}

@keyframes menuslidein {
  from {
    right: -25%;
  }
  to {
    right: 0;
  }
}

@keyframes namefade {
  from {
    opacity: 0%;
    scale: 0.8;
  }
  50% {
    opacity: 0%;
    scale: 0.8;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}